@font-face {
  font-family: kanit;
  src: url(assets/fonts/Kanit-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

@media only screen and (max-width:800px) {
  body {
    padding: 20px;
    font-size: 2rem;
    font-family: kanit;
  }

  header {
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto auto;
  }
  header > img {
    height: 8rem;
    max-width: 10rem;
    border-radius: 5rem;
  }
  header h1, h2 {
    font-weight: bold;
  }

  nav ul {
    width: 100%;
    list-style: none;
    margin: 20px auto;
    text-align: center;
  }
}
