@font-face {
  font-family: kanit;
  src: url(assets/fonts/Kanit-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  /* border: 1px solid pink; */
}

body {
  font-size: 2rem;
  color: #116A7B;
  font-family: kanit;
}
header {
  display: grid;
  margin: 2rem 0;
  text-align: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto auto;
}
header > #image {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/rusdi.png);
}
nav {
  display: grid;
  margin: .5rem 0;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, auto);
  top: 0;
  z-index: 100;
  position: sticky;
  background-color: rgba(255, 255, 255, 0.7); /* Warna putih dengan transparansi 0.7 */
  backdrop-filter: blur(10px); /* Efek blur pada latar belakang */
  border-radius: 10px; /* Atur radius border sesuai kebutuhan */
  padding: 20px; /* Atur padding sesuai kebutuhan */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Efek bayangan untuk kedalaman */
}
.item-menu {
  width: auto;
  height: 2rem;
  display: grid;
  align-items: center;
  box-sizing: border-box;
}
.item-menu > a {
  color: #116A7B;
  text-decoration: none;
}


@keyframes menyebar {
  from {
    border-bottom: 4px solid #116A7B;
  }

  to {
    border-bottom: 1px solid #6096B4;
  }
}
.item-menu:hover {
  animation-duration: 1.5s;
  animation-name: menyebar;
  animation-iteration-count: infinite;
}

#pages {
  display: grid;
  gap: 1rem 1rem;
  margin: 2rem 2rem;
  text-align: center;
  box-sizing: border-box;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, 50%);
}
.page {
  width: 100%;
  border-top: none;
  border-right: none;
  box-sizing: border-box;
  border-left: 1px solid #116A7B;
  border-bottom-left-radius: .7rem;
  border-bottom: 1px solid #116A7B;
}
.page > p {
  text-indent: 2rem;
  margin: .5rem .5rem;
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (max-width: 780px) {
  #pages {
    gap: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
  }
}